 * {
   margin: 0;
   text-align: justify;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

 body {
   background-image: url(../src/3185113.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }

 section {
  text-align: center;
}

 img {
   margin: 20px;

 }

 div {
  left: 40px;
  text-align: center;
}
/*esta configuracion simula por ahora los botones que te llevan a otras paginas */
.botones {

  background-color: #1fff01d5;
  color: #000;
  text-decoration: none;
  font-size: 30px;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #1fff01d5;
  text-decoration: underline;
  margin: 20px;
}
article {
  text-align: center;
}
 
 p {
   font-size: 30px;
   margin: 50px;


 }

 a {
   margin-left: 50px;
 }

 .imagen {
   width: 40%;
   margin: 20px;
 }

 .texto {
   color: #1fff01d5;
   margin: 60px;
 }

 

